body, h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: 'Lato', sans-serif;
}
a {
    cursor: pointer;
    color: #9B165F;
}
a:hover {
    color: #5F1079;
}
h3 {
    margin: 0 0 15px 0;
    padding: 20px 0 9px;
    border-bottom: #C11B20 solid 1px;
}
span.ri {
    display: block;
    float: right;
}
a.heading-link {
    color: #444;
    font-size: 16px;
    padding: 6px 10px;
    margin: -6px 0;
}
a.heading-link:hover {
    text-decoration: none;
    background-color: #e8e8e6;
}
a.heading-link > .fa {
    color: #C11B20;
    margin-left: 8px;
}
span.cl-b {
    position: relative;
    display: block;
    float: none;
    clear: both;
}
.fa {
    line-height: 1.42857;
}

input, textarea, select {
    display: block;
    position: relative;
    float: none;
    width: 100%;
    box-shadow: none;
    outline: none;
    border: #ccc solid 1px;
    padding: 4px 6px;
    margin-bottom: 5px;
    background-color: #fff;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 80px;
    height: 80px;
}

input:focus, textarea:focus, select:focus {
    border-color: #999;
}

button, .bt {
    display: block;
    position: relative;
    float: left;
    box-shadow: none;
    border: #aaa solid 1px;
    padding: 4px 6px;
    background-color: #eee;
    color: #444;
}
button:hover, .bt:hover {
    border-color: #999;
    background-color: #ddd;
    color: #222;
}
button:active, .bt:active {
    border-color: #888;
    background-color: #ccc;
}

ul.ul-type-a,
ul.ul-type-b {
    list-style: none;
    padding: 0;
    margin: 0;
}
    /* ul type a */
    ul.ul-type-a > li {
        clear: both;
        padding: 8px 15px;
        border-bottom: #e6e6e6 solid 1px;
    }
    ul.ul-type-a > li:hover {
        background-color: #eee;
    }
    ul.ul-type-a > li:last-child {
        border-bottom: none;
    }
    ul.ul-type-a > li > span.x-label {
        float: left;
        clear: both;
        font-size: 12px;
        color: #888;
    }
    ul.ul-type-a > li > span.x-content {
        display: block;
        float: none;
        clear: both;
    }
    ul.ul-type-a > li > span.x-content > span.x-content-inner {
        display: block;
        margin-left: 20px;
    }
    ul.ul-type-a > li > span.x-label > .fa, 
    ul.ul-type-a > li > span.x-content > .fa {
        float: left;
        margin-right: 4px;
        color: #888;
    }

    /* ul type b */
     ul.ul-type-b > li {
        clear: both;
        padding: 2px 0;
    }
    ul.ul-type-b > li > a {
        color: #aaa;
    }
    ul.ul-type-b > li > a:hover {
        text-decoration: none;
        color: #086375;
    }
    ul.ul-type-b > li > b {
        display: block;
        color: #666;
        padding-bottom: 8px;
    }

ul.ul-type-b {
    padding: 25px 0 10px;
}

.menubar, .banner, .page, .footer {
    float: none;
}
.menubar, .footer {
    background-color: #fff;
}
.menubar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: #ddd solid 1px;
    height: 50px;
    z-index: 8888;
}
    .menubar ul.x-main,
    .menubar ul.x-always {
        list-style: none;
        padding: 0;
        margin: 0;
    } 
    .menubar ul.x-main {
        float: right;
    } 
    .menubar ul.x-always {
        float: left;
    } 
    .menubar ul.x-main > li,
    .menubar ul.x-always > li {
        float: left;
        /*
        height: 50px;
        overflow: hidden; */
    }
    .menubar ul.x-main > li > a,
    .menubar ul.x-always > li > a {
        position: relative;
        display: block;
        color: #222;
        padding: 12px 15px 15px;
        border-top: transparent solid 3px;
    }
    .menubar ul.x-main > li:hover > a,
    .menubar ul.x-always > li:hover > a {
        text-decoration: none;
        border-top-color: #E04E18;
        background-color: #ddd;
    }
    .menubar ul.x-main > li > a .fa {
        margin-left: 8px;
    }
    .menubar ul.x-main > li > .menupane {
        display: none;
        position: absolute;
        top:0;
        right: 0;
        left: 0;
        margin-top: 50px;
        background-color: #ddd;
        padding-bottom: 20px;
        border-bottom: #ccc solid 1px;
    }
    .menubar ul.x-main > li:hover > .menupane {
        display: block;
    }

    .menubar .menupane a.heading-link:hover {
        background-color: #ccc;
    }

    .menubar li#top-logo {
        width: 112px;
        height: 50px;
    }
    .menubar li#top-logo a {
        border-top: none;
        padding: 5px 0 4px;
    }
    .menubar li#top-logo:hover > a {
        background-color: transparent;
    }
    .menubar li#top-logo img {
        width: 100%;
    }
    .menubar li#hamburger-menu {
        display: none;
        width: 50px;
        text-align: center;
        margin-right: -15px;
    }
.page {
    margin-top: 50px;
    background-color: #f6f6f6;
    min-height: 400px;
}
.banner {
    margin-top: 50px;
    margin-bottom: -50px;
    background-color: #fff;
    /* padding: 60px 0; */
    border-bottom: #ddd solid 1px;
}
    .banner .promo-space,
    .banner .contact-space {
        margin: 20px 0;
        padding: 1px;
        border-radius: 8px;
    }
    .banner .promo-space {
        background-color: #283A7E;
    }
    .banner .promo-space .img-wrapper {
        max-width: 160px;
        margin: 30px 25px 10px;
    }
    .banner .promo-space img {
        width: 100%;
    }
    .banner .promo-space h2,
    .banner .promo-space h4,
    .banner .promo-space a.spl-bt {
        color: #fff;
        margin: 0 30px 0;
    }
    .banner .promo-space h2 {
        font-family: 'Oxygen';
        font-weight: 300;
        line-height: 1.2;
        padding: 0 0 20px;
        border-bottom: #606D9F solid 1px;
    }
    .banner .promo-space h4 {
        padding: 10px 0 20px;
        color: #9EA6C5;
    }
    .banner .promo-space a.spl-bt {
        float: left;
        box-shadow: none;
        padding: 8px 20px;
        margin-bottom: 40px;
        font-size: 16px;
        color: #fff;
        border: #fff solid 1px;
        border-radius: 5px;
        background-color: transparent;
    }
    .banner .promo-space a.spl-bt:hover {
        text-decoration: none;
        background-color: #fff;
        color: #283A7E;
    }

    .banner .contact-space {
        background-color: #f2f2f2;
    }
    .banner .contact-space-help-text {
        margin-top: -10px;
        margin-bottom: 20px;
        padding: 0 15px;
    }
.section {
    padding: 20px 0;
}
.footer {
    border-top: #ddd solid 1px;
}
    .footer .footnote {
        color: #bbb;
        font-size: 12px;
        text-align: center;
        padding: 25px 0 15px;
    }
    .footer .chrmp-social > ul {
        text-align: right;
    }
    .footer .chrmp-social > ul > li {
        margin-bottom: 5px;
    }
    .footer .chrmp-social > ul > li .fa {
        font-size: 22px;
        margin-left: 5px;
    }
    .footer .bottom-logo-wrapper,
    .footer .company-logo-wrapper {
        float: right;
    }
    .footer .bottom-logo-wrapper {
        max-width: 120px;
        margin-right: -3px;
    }
    .footer .company-logo-wrapper {
        padding-top: 10px;
        max-width: 160px;
    }
    .footer .bottom-logo-wrapper > img,
    .footer .company-logo-wrapper > img {
        width: 100%;
    }
    .footer .footer-mumbo-jumbo {
        color: #aaa;
    }
    
.error-page .error-code,
.error-page .error-description {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
}

a.close-sm-menu {
    display: block;
    float: right;
    clear: both;
    margin: 0 -15px 5px 0;
    padding: 10px 15px;
    font-weight: 300;
    font-size: 18px;
}
a.close-sm-menu:hover {
    text-decoration: none;
    background-color: #ccc;
}
a.close-sm-menu .fa {
    margin-left: 8px;
}

/* icons */
div.row.icon-list {
    margin: 0;
}
div.row.icon-list > .icon-list-item {
    padding: 0;
}
div.row.icon-list > a.icon-list-item {
    display: block;
    padding: 1px;
    color: #222;
}
div.row.icon-list > a.icon-list-item:hover {
    text-decoration: none;
    background-color: #ccc;
}
div.row.icon-list > .icon-list-item > .x-emphasised {
    display: block;
    float: none;
    background-color: #444;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 10px 5px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    border-radius: 5px;
}
div.row.icon-list > .icon-list-item > .x-list-item,
div.row.icon-list > .icon-list-item > .x-show-more {
    display: block;
    float: none;
    clear: both;
    margin: 0 10px;
}
div.row.icon-list > .icon-list-item > .x-list-item {
    border-bottom: #bbb solid 1px;
    padding: 4px 5px;
}
div.row.icon-list > .icon-list-item > .x-list-item > .x-label,
div.row.icon-list > .icon-list-item > .x-list-item > .x-desc {
    display: block;
}
div.row.icon-list > .icon-list-item > .x-list-item > .x-label {
    float: left;
    color: #888;
    width: 74px;
}
div.row.icon-list > .icon-list-item > .x-list-item > .x-desc {
    float: none;
    margin-left: 74px;
}
div.row.icon-list > .icon-list-item > .x-show-more {
    text-align: center;
    padding: 8px 5px;
}
div.row.icon-list > .icon-list-item > .x-show-more .fa {
    padding-left: 6px;
}

/* icon styles */
div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-1-1 {
    /* background-color: #F7DD72; */
    background-color: #E47B32;
}
div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-1-2 {
    background-color: #09A6CC;
}
div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-1-3 {
    background-color: #1F9E96;
}
div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-1-4 {
    background-color: #27504F;
}

div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-2-1 {
    background-color: #C71F2D;
}
div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-2-2 {
    background-color: #9B165F;
}
div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-2-3 {
    background-color: #5F1079;
}
div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-2-4 {
    background-color: #160D46;
}

div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-3-1 {
    background-color: #777F75;
}
div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-3-2 {
    background-color: #BC4B51;
}
div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-3-3 {
    background-color: #3F334D;
}
div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-3-4 {
    background-color: #0A8754;
}

div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-4-1 {
    background-color: #283658;
}
div.row.icon-list > .icon-list-item > .x-emphasised.x-sty-4-2 {
    background-color: #4A6096;
}